<label class="tw:block tw:font-medium tw:mb-2" for="title">{{ label }}</label>
<div>
    <input class="tw:border tw:border-[#444F6F] tw:p-2 tw:w-full tw:rounded-md" type="{{ input_type ?? 'text' }}" value="{{ input_value ?? '' }}" name="{{ input_name }}"
           id="{{ input_name }}">
</div>
