<label class="block font-medium mb-2" for="title">{{ label }}</label>
<div>
    <input class="border border-[#444F6F] p-2 w-full rounded-md" type="{{ input_type ?? 'text' }}" value="{{ input_value ?? '' }}" name="{{ input_name }}"
           id="{{ input_name }}">
</div>
